<div class="simple-calendar">
	<div>
	<div class="pre_next">
    <%= link_to "", url_for(params.merge(start_date: date_range.first - 1.day)), remote: true, class:'arrow_left', style: 'float: left; margin-top: 3px;"' %>
	  <h2 style="float:left;font-size: 22px;font-family: proxima_nova_rgbold;"><strong><%= I18n.t("date.month_names")[start_date.month] %> <%= start_date.year %></strong> </h2>
	  <%= link_to "", url_for(params.merge(start_date: date_range.last + 1.day)), remote: true, class:'arrow_right', style: 'float: left; margin-top: 3px;"' %>
</div>
  <div class="event_title">
    <h1>Event Calendar </h1>
  </div>
	</div>
 <div>
	 <table class="dayname_header" style="border: 0px solid gray;margin-left: 198px; margin-bottom: 0;">
		 <tr>
		   <th>MON</th>
		   <th>TUES</th>
		   <th>WED</th>
		   <th>THURS</th>
		   <th>FRI</th>
		   <th>SAT</th>
		   <th>SUN</th>
		 </tr>
	 </table>
  <table class="table table-striped" style="border-collapse: separate;border-spacing: 8px;*border-collapse: expression('separate', cellSpacing = '10px');">
    <thead>
      <!--<tr>-->
        <!--&lt;!&ndash;<%# date_range.slice(0, 7).each do |day| %>&ndash;&gt;-->
          <!--&lt;!&ndash;&lt;!&ndash;<th><%#= I18n.t("date.abbr_day_names")[day.wday] %></th>&ndash;&gt;&ndash;&gt;-->
      <!--</tr>-->
    </thead>
    <tbody>
      <% date_range.each_slice(7) do |week| %>
        <tr>
          <% week.each do |day| %>
            <%= content_tag :td, class: calendar.td_classes_for(day) do %>
              <% if defined?(Haml) && respond_to?(:block_is_haml?) && block_is_haml?(block) %>
                <% capture_haml do %>
                  <% block.call day, sorted_events.fetch(day, []) %>
                <% end %>
              <% else %>
                <% block.call day, sorted_events.fetch(day, []) %>
              <% end %>
            <% end %>
          <% end %>
        </tr>
      <% end %>
      <% unless @latest_month_event.blank? %>
      <div class="latest_event">
        <% @latest_month_event.each do |latest_event|%>
          <h3> <%= latest_event.event_date.try(:strftime, '%b %dth, %Y') %> </h3>
          <h4><%= latest_event.title.titleize %></h4>
          <hr />
        <% end %>
      </div>
    <% end %>
    </tbody>
  </table>
</div>
<script>
	$(document).ready(function(){
		$( "td.day").css({"border-radius": "11px", "background": "#73AD21", "padding": "0px","height": "150px;"  });
		$( "td.day.today ").css({"border-radius": "11px", "background": "#89BBF5", "padding": "0px","height": "150px;"  });
	});
</script>
