<h2>New Post</h2>
<%= form_for([@event, @event.posts.build]) do |f| %>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_area :name, :required => true %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>