@font-face{font-family:'proxima_nova_rgregular';src:url('proximanova-regular-webfont.eot');src:url('proximanova-regular-webfont.eot?#iefix') format('embedded-opentype'),
url('proximanova-regular-webfont.woff') format('woff'),
url('proximanova-regular-webfont.ttf') format('truetype'),
url('proximanova-regular-webfont.svg#proxima_nova_rgregular') format('svg');font-weight:normal;}

@font-face{font-family:'proxima_nova_rgbold';src:url('proximanova-bold-webfont.eot');src:url('proximanova-bold-webfont.eot?#iefix') format('embedded-opentype'),
url('proximanova-bold-webfont.woff') format('woff'),
url('proximanova-bold-webfont.ttf') format('truetype'),
url('proximanova-bold-webfont.svg#proxima_nova_rgbold') format('svg');font-weight:normal;}

@font-face{font-family:'proxima_novasemibold';src:url('proximanova-semibold-webfont.eot');src:url('proximanova-semibold-webfont.eot?#iefix') format('embedded-opentype'),
url('proximanova-semibold-webfont.woff') format('woff'),
url('proximanova-semibold-webfont.ttf') format('truetype'),
url('proximanova-semibold-webfont.svg#proxima_novasemibold') format('svg');font-weight:normal;}

@font-face{font-family:'proxima_nova_thbold';src:url('proximanova-extrabold.eot');src:url('proximanova-extrabold.eot?#iefix') format('embedded-opentype'),
url('proximanova-extrabold.woff') format('woff'),
url('proximanova-extrabold.ttf') format('truetype'),
url('proximanova-extrabold.svg#proxima_nova_thbold') format('svg');font-weight:normal;}

@font-face{font-family:'proxima_novalight';src:url('proximanova-light-webfont.eot');src:url('proximanova-light-webfont.eot?#iefix') format('embedded-opentype'),
url('proximanova-light-webfont.woff') format('woff'),
url('proximanova-light-webfont.ttf') format('truetype'),
url('proximanova-light-webfont.svg#proxima_novalight') format('svg');font-weight:normal;}

@font-face { font-family: 'GothamBook'; src: url('gotham-book.eot');    src: url('gotham-book.eot') format('embedded-opentype'), url('gotham-book.woff2') format('woff2'),
url('gotham-book.woff') format('woff'), url('gotham-book.ttf') format('truetype'), url('gotham-book.svg#GothamBook') format('svg');}

body {font-family:'proxima_nova_rgregular'; color: #474747; margin: 0; padding: 0; text-decoration: none; -webkit-text-size-adjust:none; font-size:14px;}
h1, h2, h3, h4, h5, h6, form, p, ul, li, ol, fieldset, legend, label {margin:0; padding:0; list-style-type:none; font-weight:normal;}
input[type="text"], input[type="password"], input[type="email"], input[type="number"] {color: #757070; font-family:'proxima_nova_rgregular'; font-size:13px; outline:none;}
textarea {overflow: auto; resize: none; border: 1px solid #e9e9e9;color: #757070; font-family:'proxima_nova_rgregular'; font-size:13px; padding:10px; border-radius:2px; outline:none;}
strong {font-weight:700;}
p {line-height:22px; margin-bottom:15px; font-size:14px;}
img { border: none; outline: none; max-width:100%; vertical-align:middle;}
a { color:#5b9ebd; text-decoration:none; outline: none;}
a:hover {color:#fff;text-decoration: none; outline: none; transition:all 0.5s ease 0s; -webkit-transition:all 0.5s ease 0s;}
a { outline: 0; }
.clear { clear: both; }
.vm { vertical-align: middle; }
.relative { position: relative; }
.left { float: left;}
.right {float:right !important;}
.noclass { background: none; border: none; width: auto !important; height: auto !important; padding: 0px; margin: 0px; }
input[type="radio"] { vertical-align: top; background: none; border: none; width: auto !important; height: auto !important; }
table {border-collapse:collapse;}
button {outline:none; border:none;}
*{box-sizing:border-box;}
/*placeholder css*/
input::-webkit-input-placeholder {opacity:1 !important;}
input::-moz-placeholder {opacity:1 !important;}
input:-ms-input-placeholder {opacity:1 !important;}
input:-moz-placeholder {opacity:1 !important;}

/*ends css*/


/** CUSTOM SELECT BOX *************************/
.custom-select-box:before  { position:absolute; right:10px; content:''; height:9px; width:16px; top:14px;background:url(select-down-arrow.png) no-repeat center;}
.custom-select-box { position: relative; height:38px; line-height: 37px; width:100%; border-bottom:3px solid #474747; padding:0px 6px; box-sizing:border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box; background:#fff;}
.custom-select-box select { height: 100%; left: 0; top: 0px; position: absolute; width: 100%; z-index: 11;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=00)"; filter: alpha(opacity=00); -moz-opacity:0.0; -khtml-opacity: 0.0; opacity: 0.0; zoom: 1;-webkit-appearance: none;}
.custom-select-box select option{padding:5px;}
.custom-select-box span { height:36px; line-height: 36px;  display:block; font-size:14px; color:#444;}
/* ENDED ************************************/

/* CUSTOM CHECKBOX AND RADIO *************************/
.custom-chk input[type="checkbox"], .custom-opt input[type="radio"] { left:-9999px; position:absolute; }
.custom-chk label, .custom-opt label { padding-left:30px; min-height:22px; display:block; margin-bottom:10px; }
.custom-chk label { background:url(chk-uncheck.png) no-repeat;  }
.custom-chk label.checked { background:url(chk-checked.png) no-repeat; }
.custom-opt label { background:url(radio-uncheck.png) no-repeat;  }
.custom-opt label.checked { background:url(radio-checked.png) no-repeat; }
.list-view label { float:none; }
.form-row .thumb-view label { float:left; margin-right:30px; }
/* ENDED *********************************************/


/*common stuff*/
#wrapper {max-width:100%; margin:0 auto;}
#top-container {width:100%; float:left; padding:55px 0 64px 0;}
#midd-container {width:100%; float:left;}
#bott-container {width:100%; float:left; background:#67aa4d; padding:20px 0; margin-top:80px; box-shadow:0 -2px 16px 0 rgba(0,0,0,0.3);}
.fixed-wrapper {margin:0 auto; max-width:870px;}
.float-full {width:100%; float:left;}

.logo {float:left;}
.hd-search-box {float:left; width:100%; position:relative;}
.hd-search-box input{border:4px solid #93c281; border-radius:8px; height:44px; padding:0 10px; font-size:20px; width:100%;}
.header-search {width:483px; float:left; margin:0 27px 0 23px;}
.search-icon {position:absolute; right:10px; top:5px; background:url(search-icon.png) no-repeat; width:32px; height:32px; cursor:pointer;}
.inspire-text {font-size:37px; font-family:'proxima_nova_rgbold'; color:#5c5b5c; margin:10px 0 0 5px; display:inline-block;}

.header-rgt-btn {float:right; margin:0 0 0 0; width:auto;}
.header-rgt-btn a{font-size:35px; font-family:'proxima_novasemibold'; width:131px; height:110px; border-radius:10px; border:6px solid #4a4a4a; text-align:center; padding:0px 15px 10px 15px; display:inline-block; background:#67AA00; color:#fff; line-height:30px; float:left; margin-right:24px;}
.header-rgt-btn a:hover {background:#4e8002;}
.header-rgt-btn a small {font-size:20px; font-family:'proxima_novasemibold';}
a.join-today {padding-top:20px;}
.event-pos {position:relative; top:-4px;}

.social-network-row {background:#67aa4d; box-shadow:0px 6px 9px -7px #000000 inset; padding:60px 0;}
.child-left {float:left; margin:0 20px 0 0; width: 30%}
.social-net-rgt {float:left; margin:0 0 0 24px; width:557px;}
.social-net-rgt h1 {font-size:50px; font-family:'proxima_nova_rgbold'; background:#4a4a4a; padding:10px 15px; color:#fff; margin-bottom:20px; text-transform:uppercase;}
.social-net-rgt h2 {background:#fff; color:#5c5b5c; font-size:43px; text-transform:uppercase; display:inline-block; padding:5px 15px 0px 15px; font-family:'proxima_novasemibold';}
.social-net-rgt p {font-size:29px; color:#fff; line-height:normal; margin:25px 0 0 0;}

.gray-box-row {background:#f0f0f0; padding:30px 0; text-align:center;}
.gray-box-row p {font-size:26px; line-height:normal;}

.volunteer-full {padding:80px 0 0 0;}
.volunteer-full h3 {font-size:25px; color:#5c5b5c; font-family:'proxima_nova_rgregular'; position:relative; margin-bottom:40px; padding-left:20px; width:100%;}
.volunteer-full h3:after {content:""; background:url(heading-crnr.png) no-repeat; width:50px; height:50px; position:absolute; left:0; top:-10px;}
.volunteer-row {float:left; width:100%; margin-bottom:40px;}
.volunteer-lft {float:left; width:100%; margin-bottom:80px;}
.stay-icon {float:left; margin:0 10px 0 0; width: 42%; border: 5px solid #67aa4d; border-radius: 6px;}
.stay-detail {float:left;width:237px; margin-left:5px;}
.stay-detail h5 {font-size:34px; color:#78b55f; font-family:'proxima_novasemibold'; margin-bottom:5px; line-height:38px;}
.date-small {font-size:30px;font-family:'proxima_nova_rgregular'; display:inline-block; margin-bottom:10px;}
a.btn-join {background:#67aa4d; width:205px; text-align:center; border-radius:10px; color:#fff; display:inline-block;
    padding:0px 20px; height:50px; line-height:52px; font-family:'proxima_nova_rgbold'; font-size:28px;}
a.btn-join:hover{background:#4b962e;}

.volunteer-rgt {float:right; width:345px;}
.volunteer-rgt ul {margin:0;padding:0;}
.volunteer-rgt ul li {width:141px; float:left; margin-right:20px; margin-bottom:65px; position:relative;}
.volunteer-rgt ul li img {border-radius:6px; border:5px solid #67aa4d;}
.vol-name-over {width:135px; float:left; position:relative; padding:10px; text-align:center; border:5px solid #4a4a4a; color:#67aa4d; background:#fff; font-size:22px; font-family:'proxima_novasemibold'; color:#67aa4d; min-height:50px; margin:-30px 0 0 7px; box-shadow:1px 4px 6px rgba(0, 0, 0, 0.3);}
.volunteer-rgt ul li:last-child {margin-right:0px;}
.left-hd {float:left;}
.rgt-hd {float:right; width:38%;}
.no-scroll {overflow:hidden;}

.vol-detail-row {float:left; width:100%; border-top:4px solid #4a4a4a; padding:64px 0 0 0;}
.vol-lft {float:left; width:170px;}
.vol-img-lft {float:left; width:100%; margin-bottom:24px;}
.vol-img-lft img {border:4px solid #67aa4d; border-radius:6px;}
a.btn-black {width:100%; display:inline-block; background:#4a4a4a; height:48px; line-height:48px; border-radius:6px; color:#fff; font-size:18px; font-family:'proxima_nova_rgbold'; font-size:23px; text-align:center; margin-bottom:15px;}
a:hover.btn-black {background:#2f2f2f;}

.vol-user-comment {float:left; width:652px; margin:0 0 0 47px;}
.vol-user-comment h4 {font-size:24px; color:#5c5b5c; font-family:'proxima_nova_rgbold'; margin-bottom:10px;}
.vol-user-comment h4 span {color:#78b55f;}
.day-time-row {float:left; width:100%; font-size:20px; color:#5c5b5c; font-family:'proxima_nova_rgbold';}
.day-time-row strong {color:#78b55f;}
p.vol-desc {color: #5c5b5c;font-size: 19px;line-height: normal; margin:10px 0 20px 0; display:inline-block; width:100%;}

.vol-reply-sec {float:left; width:100%; border:5px solid #4a4a4a; border-radius:6px;}
.reply-img {width:75px; height:75px; float:left;}
.reply-img img{border:4px solid #67aa4d; border-radius:6px;}

.vol-reply-sec ul{float:left; width:100%; padding:20px;}
.vol-reply-sec ul li {float:left; width:100%; border-bottom:2px solid #9c9c9c; padding-bottom:10px; margin-bottom:20px; list-style:none;}
.vol-reply-sec ul li:last-child {border-bottom:none; margin-bottom:0px; padding-bottom:0px;}
.reply-desc {width:510px; float:left; margin:0 0 0 16px;}
.reply-desc h5 {font-size:20px; color:#78b585; display:inline-block;}
.reply-desc h5 a {color:#78b585;}
.reply-desc span{float:right; font-size:20px; color:#78b585;}
.reply-desc p {font-size:17px; line-height:normal; margin:5px 0 10px 0;}

.reply-form {float:left; width:100%; background:#67aa4d; padding:10px; border-radius:0; border-top:5px solid #4a4a4a;}
.reply-form input{border:4px solid #4a4a4a; border-radius:6px; height:40px; background:#fff; padding:0 15px; font-size:18px; width:76%; margin-right:10px;}
.btn-reply {background:#4a4a4a; width:130px; text-align:center; color:#fff; border-radius:6px; height:40px; font-size:20px; font-family:'proxima_nova_rgregular'; cursor:pointer;}
.btn-reply:hover{background:#232323;}

.foo-col-1 {float:left; width:255px; border-right:3px solid #fff; min-height:160px; padding:15px 20px 15px 0;}
.social-foo {float:left; width:100%; margin:20px 0 15px 0;}
.social-foo a {margin:0 10px 0 0;}
.social-foo a:hover {opacity:0.7;}
.foo-col-1 span{font-size:18px; color:#fff; margin-bottom:10px;}
a.btn-contact {background:#fff; border:5px solid #399018; border-radius:10px; height:50px; line-height:40px; padding:0 15px; color:#5c5b5c; font-size:23px; font-family:'proxima_nova_rgbold'; display:inline-block; width:100%; text-align:center;}
a.btn-contact:hover {background:#67aa4d; color:#fff;}

.footer-link {float:left; width:360px; padding:15px 40px 15px 40px; border-right:3px solid #fff; min-height:180px;}
.footer-link ul {margin:0; padding:0;}
.footer-link ul li {float:left; width:50%; margin:0; padding:0 0 7px 0; list-style:none;}
.footer-link ul li a {color:#fff; font-size:22px; font-family:'proxima_nova_rgregular';}
.footer-link ul li a:hover {color:#4a4a4a;}

.send-feedback {float:left; width:230px; background:#fff; border:5px solid #399018; border-radius:10px; min-height:120px; padding:10px 15px; text-align:center; font-size:30px; text-transform:uppercase; font-family:'proxima_novasemibold'; margin:0 0 0 20px;}
.send-feedback a {color:#5c5b5c; display:block;}
.send-feedback a:hover{color:#67aa4d;}
.send-feedback a i {width:51px; height:58px; background:#4a4a4a; display:inline-block;}
.cpy-full {float:left; width:100%; text-align:center; font-size:25px; font-family:'proxima_novalight'; color:#fff; margin:20px 0 0 0;}

.vol-left-main {width:492px; float:left;}

/*new css added for after login header*/
.loged-rgt {float:right; width:230px;}
.after-login-icon {float:left; width:125px;}
.after-login-icon ul {margin:0; padding:0;}
.after-login-icon ul li {margin:0 16px 18px 0; padding:0; list-style:none; float:left;}
.after-login-icon ul li a:hover {opacity:0.7;}

.loged-user {float:left; width:100px; border:4px solid #1b5506; background:#67aa4d; padding:7px 0 4px; border-radius:6px; text-align:center;}
.loged-user img {border:2px solid #fff;}
.loged-user span {display:inline-block; text-align:center; font-size:18px; color:#fff; width:100%; margin:5px 0 0 0;}
.send-feedback a i {background:none;}

/*register popup css*/
.register-popup {width:585px; border:6px solid #67aa4d; border-radius:0 12px 12px 12px; margin:10px auto; padding:32px 32px 15px; box-sizing:border-box; overflow:hidden;}
.register-popup h3 {font-size:26px; color:#5c5b5c; font-family:'proxima_novasemibold'; position:relative; margin-bottom:15px; padding-left:20px;}
.register-popup h3:after {content:""; background:url(reg-crnr.png) no-repeat; width:40px; height:42px; position:absolute; left:0; top:-10px;}
.form-row {float:left; width:100%; margin-bottom:13px;}
.col-reg-lft {float:left; width:49%;}
.col-reg-lft-contact {float:left; width:93%;}
.col-reg-lft:nth-child(2n) {float:right;}
.register-popup input[type="text"], .register-popup input[type="email"], .register-popup input[type="password"] {border:3px solid #979797; border-radius:8px; height:46px; padding:0 13px; font-size:16px; width:100%;}
.reg-fb {background:#2b5d98; border:3px solid #979797; height:51px; color:#fff; font-size:18px; font-family:'proxima_nova_rgbold';padding:0 19px; width:100%; box-sizing:border-box; border-radius:8px; cursor:pointer;}
.reg-fb:hover{background:#1b477b;}
.sub-regis {background:#67aa4d;}
.sub-regis:hover{background:#559a3a;}
.sub-regis-contact {background:gray;}
button{-moz-border:0px;}
.contact-popup {width:580px; height: 555px; border:6px solid #67aa4d; border-radius:0 12px 12px 12px; margin:10px; padding:32px 32px 15px; box-sizing:border-box; overflow:hidden;}
.contact-popup h3 {font-size:26px; color:#5c5b5c; font-family:'proxima_novasemibold'; position:relative; margin-bottom:15px; padding-left:20px;}
.contact-popup h3:after {content:""; background:url(reg-crnr.png) no-repeat; width:40px; height:42px; position:absolute; left:0; top:-10px;}
.contact-popup input[type="text"], .contact-popup textarea, .contact-popup input[type="email"], .contact-popup input[type="password"] {border:3px solid #979797; border-radius:8px; height:46px; padding:0 13px; font-size:16px; width:100%;}


/*new css added for user profile page*/
.user-prf-sec {float:left; width:100%; background:#fff;box-shadow: 0 6px 9px -7px #000000 inset;padding:60px 0 0 0;}
.user-prf-row1 {float:left; width:100%;}
.user-prf-left {float:left; width:636px;}
.user-prf-left-cont {float:left; width:466px;}
.user-prf-left-cont h2 {font-size:32px; color:#78b55f; font-family:'proxima_nova_rgbold'; margin-bottom:10px; display:inline-block; width:80%;}
.add-icon {float:right; margin:0 0 0 0;}
.user-prf-left .vol-img-lft {float:left; width:140px; margin-right:20px;}
.user-prf-left-cont span {font-family: "proxima_nova_rgbold";font-size: 25px;width: 100%; margin-bottom:10px; display:inline-block;}
.user-prf-left-cont p{font-size:16px;}
.user-prf-rgt {float:right; width:220px; border:2px solid #67aa4d; border-radius:6px; padding:22px; box-sizing:border-box; text-align:center; min-height:200px;}
.user-prf-rgt strong {font-size:25px; font-family: "proxima_nova_rgbold";}
.user-prf-rgt p {color:#4a4a4a; font-size:25px; font-family: "proxima_nova_rgbold"; display:block; margin-bottom:0px; line-height:normal;}
.user-prf-rgt p span {color:#67aa4d;}

.user-photos-row {border-top: 4px solid #4a4a4a;float: left;padding:20px 0 0 0;width: 100%; margin:15px 0 0 0;}
.user-photos-row ul {margin:0; padding:0;}
.user-photos-row ul li {padding:0; list-style:none; float:left; width:23.5%; margin:0 2% 10px 0;}
.user-photos-row ul li img {max-width:100%; border:1px solid #979797;}
.user-photos-row ul li:nth-child(4n) {margin-right:0px;}
.user-prf-vol {padding-top:15px;}

/*/!*CSS For home page video*!/*/
.video_row{  padding-bottom: 50px;  }
.videoWrapper {  position: relative;  padding-bottom: 40.25%; /* 16:9 */  padding-top: 25px;  height: 0;  margin-right: 20px;  }
.videoWrapper iframe {  position: absolute;  top: 0;  left: 0;  width: 100%;  height: 100%;  }
#top-container .fixed-wrapper{max-width:970px;}
.vol-left-main .volunteer-lft:last-child{margin-bottom:0px;}

/*Css For Home page users,event and calendar  */
.pre_next{  height: 65px;  margin-top: 30px;  float: right;  color: green;  font-weight: 900;  margin-right: 30px;  }
.latest_event {  float: left;  width: 16%;  height: 80%;  border: 3px solid gray;  border-radius: 10px;  margin-left: 25px;  margin-top: 0px;  padding: 8px;  text-align: justify;  display: block;  overflow: scroll;  height: 540px;  }
.event_title {  float: left;  color: black;  margin-left: 20px;  margin-right: 320px;  padding: 5px;  border-left: 3px solid gray;  position: relative;  padding-right:3px;  color: gray;  margin-top: 25px;  font-family: proxima_novasemibold;  font-size: 14px;  }
.event_title:after {  content: "";  display:block;  width:18%;  height:3px;  padding:0;  margin:0;  background-color:gray;  position: absolute;  left:-3px;;  top:-1px;  }
.event_title h1{  color: black;  }
.arrow_right {  width: 0;  height: 0;  border-bottom: 5px solid transparent;  /* left arrow slant */  border-top: 10px solid transparent; /* right arrow slant */  border-left: 21px solid green; /* bottom, add background color here */  font-size: 0;  line-height: 0;  margin-left: 10px;  }
.arrow_left {  width: 0;  height: 0;  border-bottom: 5px solid transparent;  /* left arrow slant */  border-top: 10px solid transparent; /* right arrow slant */  border-right: 21px solid green; /* bottom, add background color here */  font-size: 0;  line-height: 0;  margin-right: 10px;  }
.supports-block {float:left; width:100%; margin:0; padding:40px 0 0 0; border-top: 4px solid #4a4a4a;}
.supports-block h3 {font-size:32px; margin-bottom:20px;}
.prf-suppo-list {float:left; width:100%; border:3px solid #67aa4d; border-radius:6px; padding:15px 15px 0 15px; margin-bottom:60px;}
.prf-suppo-list ul {margin:0; padding:0; overflow-y:auto; max-height:160px;}
.prf-suppo-list ul li {margin:0 5px 2% 0; padding:0; list-style:none; float:left; width:32%;}
.prf-suppo-list ul li:nth-child{4n} {margin-right:0px;}
.prf-suppo-list ul li img {border-radius:6px; border:1px solid #4a4a4a;}
.prf-suppo-list ul li span {font-size:24px; color:#67aa4d; font-family: "proxima_nova_rgbold"; margin:0 0 0 10px;}