<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="MobileOptimized" content="320">
  <meta name="format-detection" content="telephone=no">
  <meta name="viewport" content="user-scalable=1.0,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0">
  <title>:: Glis ::</title>
  <!--Custom style css-->
  <%= javascript_include_tag 'application' %>
  <%= stylesheet_link_tag 'application' %>
  <%= stylesheet_link_tag 'style', 'media' %>
  <%#= image_tag('favicon.ico', alt: '') %>
  <!--[if IE]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script> <![endif]-->
</head>
<body>
<!--Main Wrapper Starts Here-->
<div id="wrapper">
  <!--Header Starts Here-->
    <%= render 'shared/header' %>
  <!--Header ends here-->

  <!--Middle content starts here-->
  <section id="midd-container">
    <% if user_signed_in? %>
      <!--new volunteer section-->
      <div class="user-prf-sec">
        <div class="fixed-wrapper">
          <div class="user-prf-row1">
            <div class="user-prf-left">
              <div class="vol-img-lft"> <%= image_tag 'vol-img.jpg', alt: '' %> </div>
              <div class="user-prf-left-cont">
                <h2>Jameson Welch</h2>
                <i class="add-icon"><%= image_tag 'add-icon.jpg', alt: '' %></i> <span>Los Angeles, CA</span>
                <p>Bacon ipsum dolor amet boudin bacon pancetta drumstick capicola brisket prosciutto sausage ball tip salami pork chop cupim shank swine. Ball tip meatball jowl pork chop picanha. Andouille beef leberkas ham hock pancetta. Ball tip salami jowl meatloaf beef rump pork belly tongue shank boudin pancetta. </p>
              </div>
            </div>
            <div class="user-prf-rgt"> <strong>Volunteered:</strong>
              <p><span>300</span> times</p>
              <p><span>1000</span> hours</p>
              <p><span style="display:block;">2136</span> Supporters </p>
            </div>
          </div>
          <div class="user-photos-row">
            <ul>
              <li><%= image_tag 'photo-img.jpg', alt: '' %></li>
              <li><%= image_tag 'photo-img.jpg', alt: '' %></li>
              <li><%= image_tag 'photo-img.jpg', alt: '' %></li>
              <li><%= image_tag 'photo-img.jpg', alt: '' %></li>
            </ul>
          </div>
        </div>
      </div>
      <!--new volunteer section ends-->
    <% else %>
      <div class="float-full social-network-row">
        <div class="fixed-wrapper">
          <div class="child-left"><%= image_tag('child-img.png', alt: '') %></div>
          <div class="social-net-rgt">
            <h1>A SOCIAL NETWORK</h1>
            <h2>FOR VOLUNTEERS</h2>
            <p>Here you can find new gigs to work on<br>
              and friends to work with and support you.</p>
          </div>
        </div>
      </div>
      <div class="float-full gray-box-row">
        <div class="fixed-wrapper">
          <p>“Bacon ipsum dolor amet boudin bacon pancetta drumstick capicola
            brisket prosciutto sausage ball tip salami pork chop cupim shank swine.”<br>
            -Some Butcher</p>
        </div>
      </div>
    <% end %>
    <%= yield %>
  </section>
  <!--Middle content ends here-->

  <!--Footer Starts here-->
    <%= render 'shared/footer' %>
  <!--Footer ends here-->

  <!--Main Wrapper Ends Here-->
</body>
</html>
